/* */
$base-size: 10px;
$line-size: 20px;
$small-size: 30px;
$medium-size: 60px;
$large-size: 80px;

/* Media Query */
$screen-size-small: 414px;
$screen-size-medium: 1024px;
$screen-size-large: 1670px;